:root {
    --ff-serif: 'Playfair', serif;
    --ff-sans: 'Big Shoulders Text', sans-serif;
    --ff-display: 'Big Shoulders Inline Display', sans-serif;

    /* small screen font-sizes */
    --fs-100: 0.75rem;
    --fs-200: 1rem;
    --fs-300: 1.25rem;
    --fs-400: 1.375rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-700: 2.125rem;
    --fs-800: 3rem;
    --fs-900: 7rem;

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;

    --clr-neutral-100: #f9f1f6;
    --clr-neutral-200: #f3c262;
    --clr-neutral-300: #ec9a86;
    --clr-neutral-400: ;
    --clr-neutral-500: ;
    --clr-neutral-900: ;
  
    --clr-primary-300: #200820;
    --clr-primary-400: ;
  
    --br: 1rem;
    --spacer: 1rem;

    /* first color pallete
        background: #200820
        name text: #e6e3f6
        support text: #6aa0ce
        buttons: cc6f77 */
}
  
@media (min-width: 40em) {
:root {
    --fs-100: 0.75rem;
    --fs-200: 1rem;
    --fs-300: 1.375rem;
    --fs-400: 1.75rem;
    --fs-500: 2.125rem;
    --fs-600: 3rem;
    --fs-700: 4.25rem;
    --fs-900: 8rem;
}
}

/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}


body {
    -webkit-font-smoothing: antialiased;
}

ul,
ol,
ul[class], 
ol[class] {
    list-style: none;
    padding: 0;
}

/* custom styles */
body {
    background: var(--clr-primary-300);
    font-size: var(--fs-600);
    font-family: var(--ff-serif);
    color: var(--clr-neutral-100);
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 0 var(--spacer);
    max-width: 60rem;
    margin: 15vh auto 4vh;
    gap: 1.5rem;
}

.name {
    font-size: var(--fs-900);
    font-weight: var(--fw-900);
    font-family: var(--ff-display);
    line-height: 1;
    padding: 2rem;
}

.title {
    font-family: var(--ff-serif);
    color: var(--clr-neutral-300);
    font-size: var(--fs-400);
    line-height: 2;
}

.project {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
    margin: 2rem;
    line-height: 1;
}

.project a {
    font-family: var(--ff-sans);
    color: var(--clr-neutral-100);
    font-size: var(--fs-800);
    gap: 1rem;
}

.project a:hover {
    color: var(--clr-neutral-200);
}

.project p {
    font-family: var(--ff-serif);
    color: var(--clr-neutral-300);
    font-size: var(--fs-300);
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 4.5rem;
}

.btn {
    margin: 3rem;
    padding: 1rem 1.75rem;
    background: var(--clr-primary-300);
    color: var(--clr-neutral-200);
    border: 2px solid var(--clr-neutral-200);
    font-size: var(--fs-400);
    border-radius: .5rem;
    /* border: none; */
  }

.btn:hover {
    background: var(--clr-neutral-300);
    color: var(--clr-primary-300);
    border: 2px solid var(--clr-primary-300);
    cursor: pointer;
}

.corner {
    position: static;
    /* overflow: hidden; */
    /* height: 5rem; */
    /* width: 100%; */
  }

  .corner::before {
    content: '';
    position: absolute;
    width: 20rem;
    height: 9.9rem;
    color: transparent;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
        -26.5deg,
        var(--clr-neutral-200),
        var(--clr-neutral-200) 3.25rem,
        var(--clr-neutral-100) 3.25rem,
        var(--clr-neutral-100) 6.25rem,
        var(--clr-neutral-300) 6.25rem,
        var(--clr-neutral-300) 8.9rem
      );
    clip-path: polygon(0 0, 100% 0, 0 100%);
}
 
.rt_corner {
    position: relative;
    width: 100%;
    height: 100%;
}

.rt_corner::after {
    content: '';
    position: absolute;
    width: 20rem;
    height: 9.9rem;
    color: transparent;
    bottom: 0;
    right: 0;
    background: repeating-linear-gradient(
        -26.5deg,
        var(--clr-neutral-300),
        var(--clr-neutral-300) 2.75rem,
        var(--clr-neutral-100) 2.75rem,
        var(--clr-neutral-100) 5.75rem,
        var(--clr-neutral-200) 5.75rem,
        var(--clr-neutral-200) 10rem
      );
      clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

@media (min-width: 40em) and (min-height: 40em) {

    .container {
        margin: 15vh auto 4vh;
        line-height: .75;
    }

    .name {
        padding: 0;
    }
    
    .split {
        display: flex;
        justify-content: center;
    }
    
    .btn-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 0 6rem;
    }

    .corner::before {
        position: fixed;
    }
    
    .rt_corner::after {
        position: fixed;
    }
}
